@model IEnumerable<JobsIE.Models.JobApplication>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Job.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobSeekerUser.JobSeekerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobApplicationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Job.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobSeekerUser.JobSeekerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobApplicationStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
